html,
body,
#root {
  margin: 0;
  border: none;
  overflow: auto;
}

body {
  max-height: 500px;
  width: 400px;
}

#root {
  padding: 20px;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #e4eaf0;
}
